body{
  background-color: #93B7BE
}

.App {
  text-align: center;
}


#btn{
  margin: 2em;
  background-color: #F1FFFA;
  border: 1px solid #8E94F2;
  color: #B02E0C;
  padding: 32px 66px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-weight: 700
}


#idea{
  color: #454545;
  background-color: #F1FFFA;
  margin: 2em;
  font-size: 32px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #454545;
}
